/*顶部导航*/
.top{
    height: 70px;
}
.top .nav{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.5);
    padding: 0 80px;
}
.top .nav .logo{
    float: left;
    width: 280px;
    height: 70px;
    background: url("../img/nav/logo.png") no-repeat center;

}
.top .nav .nav-middle{
    font-weight: bold;
    font-size: 20px;
    float: left;
    height: 70px;
    margin-left: 190px;
    margin-right: 86px;
    width: 124px;
    display: flex;
    align-items: center;
}
.top .nav .nav-middle .nav-middle-image{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/nav/citypoint.png") no-repeat center;
}
.top .nav .nav-middle a {
    display: inline-block;
    width: 101px;
    white-space: nowrap;
}
.top .nav .nav-middle a span {
    display: inline-block;
    width: 64px;
    color: red;
}
.top .nav .nav-list{
    float: left;
    box-sizing: border-box;
    height: 70px;
    width: 641px;
    padding-top: 22px;
    font-weight: bold;
}
.top .nav .nav-list li {
    float: left;
    margin-right: 32px;
    font-size: 20px;
}
.top .nav .nav-list li:last-child{
    color: white;
    background-color: #E94840;
    height: 28px;
    line-height: 28px;
    border-radius: 8%;
}
/*banner图*/
.ban-wrap{
    position: relative;
    width: 100%;
    height: 420px;
}
.ban-menu {
    position: absolute;
    top: 0;
    left: 106px;
    height: 420px;
    width: 180px;
    background-color: #757881;
    z-index: 3;
}
.ban-menu-list{
    height: 100%;
    width: 100%;
}
.ban-menu-item{
    width: 180px;
    height: 42px;
    position: relative;

}
.ban-menu-item .text{
    display: inline-block;
    width: 180px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;

}
.ban-menu-item .icon{
    position: absolute;
    right: 28px;
    top: 15px;
    width: 6px;
    height: 11px;
    background: url("../img/ban/right.png") no-repeat center;
}
.ban-menu-item:hover{
    background-color: #474a53;
}
.is-show .icon{
    right: 0;
    top: 15px;
    background: url("../img/ban/icon1.png") no-repeat center;
}
.is-show .layer{
    display: block;
    width: 180px;
    height: 420px;
    position: absolute;
    left: 180px;
    top: 0;
    background-color: rgba(255,255,255,.5);
}
.is-show .layer li {
    width: 180px;
    height: 42px;
    color: #474a53;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
}
.layer{
    display: none;
}


.ban-image{
    height: 420px;
}
.flexslider{position:relative;height:420px;overflow:hidden;}
.slides{position:relative;z-index:1;}
.slides li{height:420px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;background:url(../img/ban/dot.png) right 0 no-repeat;overflow:hidden;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
/*content*/
.content{
    padding: 64px 80px 0;
    height: 566px;
}
.content h1 {
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.content h2 {
    margin-top: 20px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}
